* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
}

:root {
    --text-color: white;
    --accent-color: #ff004f;
    --hover-color: #ff004f;
    --light-text-color: #ffffffd6;
    --cart-color:#262626;
}

a {
    color: white;
    text-decoration: none;

}

header ul {
    list-style: none;
    display: flex;
    gap: 4vw;
}

header ul li a:hover {
    color: var(--accent-color);
}

header ul li a {
    font-weight: 200;
}

nav>h1 {
    font-size: 40px;
}

nav>h1>p {
    color: var(--accent-color);
    display: inline;
    font-size: 45px;
}

.container {
    background-image: url(../assets/image/Untitled\ design.png);
    width: 99vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: fixed;
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    background-color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2vw;
    padding-top: 1vw;
}

/* ----Homesection--------- */

.Home {
    height: 85vh;
    width: 83vw;
}

.Home-section {
    width: 70%;
}


.Home-section>h3 {
    font-size: 1.6rem;
    font-weight: 100;
}

.Home-section>h1>p {
    display: inline;
    color: var(--accent-color);
}

.Home-section>h1 {
    font-size: 3.6rem;
    font-weight: bolder;
}


/* ---------------About */

.About {
    height: 100vh;
    width: 83vw;
    background-color: black;
}

.About img {
    width: 100%;

}

.About-section h1 {
    font-size: 3rem;
}

.about-text{
    padding-left: 3em;
}

.about-text-inner p{
    font-weight: lighter;
    color: var(--light-text-color);
    line-height: 1.8em;
}

.about-text-inner p > span{
    font-weight: bold;
    color: var(--accent-color);
}

.about-text-inner {
    gap: 0.5em;
}

.list {
    margin: 1em;
    margin-left: 0px;
    gap: 2.5em;
}

.list-contain :first-child > li {
    color: white;
    font-weight: bold;
}

.list-contain :last-child > li{
    color: var(--light-text-color);
    margin-left: 2em;
    gap: 0.2em;
}

.list-contain > .list{
    list-style: none;
}

.list-contain :first-child :hover {
        border-bottom: 3px solid var(--accent-color);
}

.list-contain dt{
    color: var(--light-text-color);
    font-weight:lighter;
}

.list-contain dd{
    font-weight:200;
}

.list-contain dt{
    margin-top: 1.5em;
    margin-bottom: 0.3em;
}

/* ------------------------services------------------------- */ 

.Services {
    height: 95vh;
    width: 83vw;
    background-color: black;

}

.services-contain{
    gap: 3em;
}



.service-img{
    width: 100%;
}

.service-card-contain{
    height: 22rem;
    padding: 1em 2em;
    border-radius: 1em;
    background-color: var(--cart-color);
    justify-content: center;
    gap: 1em;
    transition: transform 0.6s , background-color 0.7s;

}

.service-card-contain:hover{
    background-color: var(--accent-color);
    transform: translateY(-20px);
}




.services-contain p {
        font-size: smaller;
    color: var(--light-text-color);
    font-weight: lighter;
    line-height: 1.5em;
}

.services-contain a {
    font-size: 0.9rem;
    font-weight: lighter;
}

.services-contain h3{
    font-size: 1.3rem;
}

.service-img > img{
    height: 75px;
    width: 75px;
}

.Services > h1 {
    font-size: 4rem;
    align-self: flex-start;
}

.Services {
    gap: 4.5em;
}

/* ----------------------------My Work-------------------------  */

.My-work {
    height: 100vh;
    width: 83vw;
    background-color: black;
}

.work-container{
    gap: 3em;
    
}





