* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
}

:root {
    --text-color: white;
    --accent-color: #ff004f;
    --hover-color: #ff004f;
    --light-text-color: #ffffffd6;
}

a {
    color: white;
    text-decoration: none;

}

header ul {
    list-style: none;
    display: flex;
    gap: 4vw;
}

header ul li a:hover {
    color: var(--accent-color);
}

header ul li a {
    font-weight: 200;
}

nav>h1 {
    font-size: 40px;
}

nav>h1>p {
    color: var(--accent-color);
    display: inline;
    font-size: 45px;
}

.container {
    background-image: url(../assets/image/Untitled\ design.png);
    width: 99vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: fixed;
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    background-color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2vw;
    padding-top: 1vw;
}

/* ----Homesection--------- */

.Home {
    height: 85vh;
    width: 83vw;
}

.Home-section {
    width: 70%;
}


.Home-section>h3 {
    font-size: 1.6em;
    font-weight: 100;
}

.Home-section>h1>p {
    display: inline;
    color: var(--accent-color);
}

.Home-section>h1 {
    font-size: 3.6em;
    font-weight: bolder;
}


/* ---------------About */

.About {
    height: 100vh;
    width: 83vw;
    background-color: black;
}

.About img {
    width: 100%;

}

.About-section h1 {
    font-size: 3em;
    color: var(--accent-color);
    margin-bottom: 1vw;
}

.about-text{
    padding-left: 3em;
}

.about-text-inner p{
    font-weight: lighter;
    color: var(--light-text-color);
    line-height: 1.8em;
}

.about-text-inner {
    gap: 0.5em;
}

.list-contain ul {
    margin: 1em;
    gap: 2.5em;
}

.list-contain :first-child > li {
    color: white;
    font-weight: bold;
}

.list-contain :last-child > li{
    color: var(--light-text-color);
}

.list-contain :first-child :hover {
        text-decoration: underline var(--accent-color) 3px;
}