* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
}

:root {
    --text-color: white;
    --accent-color: #ff004f;
    --hover-color: #1e1e1e;
    --light-text-color: #ffffffd6;
}

a {
    color: white;
    text-decoration: none;

}

header ul {
    list-style: none;
    display: flex;
    gap: 4vw;
}

header ul li a:hover {
    color: var(--accent-color);
}

header ul li a {
    font-weight: 200;
}

nav>h1 {
    font-size: 40px;
}

nav>h1>p {
    color: var(--accent-color);
    display: inline;
    font-size: 45px;
}

.container {
    background-image: url(../assets/image/Untitled\ design.png);
    width: 99vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: fixed;
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2vw;
    padding-top: 1vw;
}

.Home-section {
    width: 50%;
}

/* ----Homesection--------- */

.Home-section>h3 {
    font-size: 1.6em;
    font-weight: 100;
}

.Home-section>h1>p {
    display: inline;
    color: var(--accent-color);
}

.Home-section>h1 {
    font-size: 3.6em;
    font-weight: bolder;
}

.Home {
    height: 80vh;
    width: 100%;
}

/* ---------------About */

.About {
    height: 100vh;
    width: 100%;
}

.About-section>h1 {
    font-size: 3.6em;
    font-weight: bolder;
    margin-bottom: 1vw;
}

.About img {
    width: 30%;
}

.about-text {
    width: 60%;
    margin-left: 5vw;
    font-weight: 200;
    color: var(--light-text-color);
    line-height: 1.8em;
}