* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);

}

p{
    text-align: justify;
}

:root {
    --text-color: white;
    --accent-color: #ff004f;
    --hover-color: #ff004f;
    --hover-text-color:black;
    --hover-link-color:#ff004f;
    --sub-text-color: #ffffffd6;
    --cart-color:#262626;
    --bg-color:black;
    --border-color:white; 
}

/* :root {
    --text-color: #ffffff;
    --accent-color: #a855f7;
    --hover-text-color:black;
    --hover-color: #c084fc;
    --sub-text-color: #f3dfff;
    --cart-color:#2a1240;
    --bg-color:#1a0b26;
    --border-color:#a855f7;
} */




a {
    color: var(--text-color);
    text-decoration: none;

}

header ul {
    list-style: none;
    display: flex;
    gap: 4vw;
}

header ul li a:hover {
    color: var(--hover-link-color);
}

header ul li a {
    font-weight: 200;
}

nav>h1 {
    font-size: 40px;
}

nav>h1>p {
    color: var(--accent-color);
    display: inline;
    font-size: 45px;
}

.container {
    background-image: url(../assets/image/Untitled\ design.png);
    width: 99vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: fixed;
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    background-color: var(--bg-color);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2vw;
    padding-top: 1vw;
}

/* ----Homesection--------- */

.Home {
    height: 85vh;
    width: 83vw;
}

.Home-section {
    width: 70%;
}


.Home-section>h3 {
    font-size: 1.6rem;
    font-weight: 100;
}

.Home-section>h1>p {
    display: inline;
    color: var(--accent-color);
}

.Home-section>h1 {
    font-size: 3.6rem;
    font-weight: bolder;
}


/* ---------------About */

.About {
    height: 100vh;
    width: 83vw;
    background-color: var(--bg-color);
}

.About img {
    width: 100%;

}

.About-section h1 {
    font-size: 3rem;
}

.about-text{
    padding-left: 3em;
}

.about-text-inner p{
    font-weight: lighter;
    color: var(--sub-text-color);
    line-height: 1.8em;
}

.about-text-inner p > span{
    font-weight: bold;
    color: var(--accent-color);
}

.about-text-inner {
    gap: 0.5em;
}

.list {
    margin: 1em;
    margin-left: 0px;
    gap: 2.5em;
}

.list-contain :first-child > li {
    color: var(--text-color);
    font-weight: bold;
}

.list-contain :last-child > li{
    color: var(--sub-text-color);
    margin-left: 2em;
    gap: 0.2em;
}

.list-contain > .list{
    list-style: none;
}

.list-contain :first-child :hover {
        border-bottom: 3px solid var(--hover-color);
}

.list-contain dt{
    color: var(--sub-text-color);
    font-weight:lighter;
}

.list-contain dd{
    font-weight:200;
}

.list-contain dt{
    margin-top: 1.5em;
    margin-bottom: 0.3em;
}

/* ------------------------services------------------------- */ 

.Services {
    gap: 4.5em;
    height: 100%;
    width: 83vw;
    background-color: var(--bg-color);
    padding: 30px 0;

}

.services-contain{
    gap: 3em;
    flex-wrap: wrap;
}



.service-img{
    width: 100%;
}

.service-card-contain{
    height: 22rem;
    width: 20em;
    padding: 1em 2em;
    border-radius: 1em;
    background-color: var(--cart-color);
    justify-content: center;
    gap: 1em;
    transition: transform 0.6s, background-color 0.7s;

}

.service-card-contain:hover{
    background-color: var(--hover-color);
    color: var(--hover-text-color);
    transform: translateY(-20px);
}




.services-contain p {
        font-size: smaller;
    color: var(--sub-text-color);
    line-height: 1.5em;
}

.services-contain a {
    font-size: 0.9rem;
}

.services-contain h3{
    font-size: 1.3rem;
}

.service-img > img{
    height: 75px;
    width: 75px;
}

.Services > h1 {
    font-size: 4rem;
    align-self: flex-start;
}

.Services {
    gap: 4.5em;
}

/* ----------------------------My Work-------------------------  */

.My-work-section {
    height: 100%;
    width: 83vw;
    background-color: var(--bg-color);
    gap: 3em;
}

.My-work-section a > img {
    width: 20px;
    height: 20px;
}

.My-work-section h1 {
    font-size: 2.7em;
    margin-left: 2em;
}

.layer a {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: var(--text-color);
}

.work-card > img {
    width:100%;
    height: 100%;
    border-radius: 1em;
    transition: transform 0.5s;
    display: block;
    position: relative;
}

/* img container is .work card */

.work-card {
    width: 348px;
    height: 462px;
    position: relative;
    border-radius: 1em;
}

.work-card p {
    font-size: small;
    width: 80%;
    color: var(--sub-text-color);
}

.layer {
    position: absolute;
    bottom: 0px;
    overflow: hidden;
    height: 0%;
    transition: 0.3s;
    width: 100%;
    border-radius: 1em;
    flex-direction: column;
    text-align: center;
    gap: 1em;
}

.work-card:hover .layer{
    background: linear-gradient(rgba(0,0,0,0.6),var(--hover-color)
    );
    color: var(--hover-text-color);
    height: 100%;
}

.work-container {
    gap: 1.6em;
    flex-wrap: wrap;
}

.My-work-section .btn {
    width: 9em;
    background-color: var(--bg-color);
    height: 2.7em;
    border: 0.1em solid var(--border-color);
}


