.flex{
      display: flex;
}

.flex-center{
      display: flex;
      justify-content: center;
      align-items: center;
}

.flex-column{
      display: flex;
      flex-direction: column;
}     

.flex-column-center{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

.flex-align-center{
      display: flex;
      align-items: center;
}

.flex-justify-center{
      display: flex;
      justify-content: center;
}

.align-self-atart{
      align-self: flex-start;
}


.p-R-L{
      padding-left: 8vw;
      padding-right: 8vw;
}

.width-100{
      width: 100%;
}

